<!-- web.xml 기본 설정 -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
<!--시작페이지를 form.jsp로 설정-->
    <welcome-file-list>
        <welcome-file>guestbook</welcome-file>  <!-- ✅ 서블릿 경로로 바꾸기 -->
    </welcome-file-list>


</web-app>


